* {
    font-family: 'Cera Pro';
}

.login__body {
    background-color: var(--color-login-register-bg);
    display: flex;
    flex-direction: column;
    padding: 4rem;
    align-items: center;
}

.login__title {
    font-size: 2.5rem;
    text-align: left;
}

.login__container {
    background-image: url("../../img/LoginContainer.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    color: #000;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.login__container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 10rem 10rem;
}

.login__container-links {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem; 
    gap: 0.5rem;
}

.login-register__link {
    color: #197278;
    font-size: 1.25rem;
}

.login__btn-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
}

.login__submit {
    background-color: var(--color-red-orange);
    border: none;
    color: var(--color-white);
    font-size: 1.5rem;
    padding: 1rem 8rem;
    border-radius: 1rem;
}

.login__field {
    border: none;
    background-color: var(--color-field);
    border-radius: 1rem;
    padding: 0.75rem;
    font-size: 1.5rem;
}

.login__label {
    font-size: 1.5rem;
}

.login__form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}