{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/utility/color-variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/switch-language-btn.css' %}">
    <link rel="stylesheet" href="{% static 'css/utility/fonts.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

    {% block extra_css %}{% endblock %}
  </head>

  <body>
    <main>{% block content %}{% endblock %}</main>
    <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
    {% block extra_js %}{%endblock %}
  </body>
</html>
