* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background: #D9D9D9;
    padding-bottom: 70px; /* Место для фиксированной навигации */
    min-height: 100vh;
}

/*
************* Верхнее меню **************
*/

.navbar-top {
    background: #9A9998;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.navbar-top .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Ссылка "назад" со стрелкой */
.back-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    text-decoration: none;
    color: #555;
    transition: transform 0.2s ease, color 0.2s ease;
    background: #D9D9D9;
    border-radius: 20px;
}

.back-link:hover {
    color: #000;
    transform: translateX(-3px);
}

.navbar-top .header-title {
    font-size: 1.4em;
    font-weight: 100;
    color: #282828;
}


/* Смена языка    */
.language-switcher {
    display: flex;
    align-items: center;
    gap: 8px;
    background: #D9D9D9;
    padding: 5px 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

/* Делаем иконку аккуратной */
.language-switcher .iconify {
    color: #000;
    flex-shrink: 0;
    transition: color 0.2s ease;
}
.custom-select-wrapper {
    position: relative;
    flex: 1; /* занимает оставшееся место */
}

/* Селект превращаем в "чистый" элемент */
.language-switcher select {
    background: #D9D9D9;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.875em;
    color: #000;
    cursor: pointer;
    padding-right: 20px;
}

.language-switcher:hover {
    background: rgba(255, 255, 255, 0.5);
}

.language-switcher:hover .iconify {
    color: #333;
}

/*
**************  нижний футер   ****************
*/

.navbar-bottom {
    display: flex;
    gap: 12px;
    margin: 10px 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar-bottom > a {
    flex: 1; /* растягиваются равномерно */
    text-align: center;
    display: block;
    border-radius: 10px;
    background: #9A9998;
    padding: 12px 12px; /* меньшие отступы */
    text-decoration: none;
    color: inherit;
    min-width: 0; /* чтобы текст обрезался если нужно */
}


