* {
    font-family: 'Cera Pro';
}

.register__title {
    font-size: 2.5rem;
}

.register__container {
    background-image: url("../../img/RegisterContainer.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.register__body {
    background-color: var(--color-login-register-bg);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
}

.register__container-button {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1rem;
}

.register__container-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.register__container-row {
    display: flex;
    justify-items: space-between;
    gap: 20px;
}

.register__container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
}

.register__submit {
    border: none;
    border-radius: 1rem;
    color: var(--color-white);
    background-color: var(--color-red-orange);
    font-size: 1.5rem;
    padding: 1rem 2.75rem;
}

.register__form {
    font-size: 1.5rem;
}

.register__field {
    border: none;
    background-color: var(--color-field);
    border-radius: 1rem;
    padding: 0.5rem;
    width: 18rem;
    font-size: 1.5rem;
}

.register__link {
    color: var(--color-cyan);
    font-size: 1.25rem;
}

.register__form-lower {
    display: flex;
    justify-items: space-between;
    gap: 1.25rem;
    align-items: center;
    padding: 2rem 0;
}

.register__form-lower-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.register__container-password {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}

.register__form-lower-item {
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.register__personal-data {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.register__personal-data input {
  display: none;
}

.register__checkbox-box {
  width: 32px;
  height: 32px;
  border: 3px solid var(--color-cyan);
  border-radius: 8px;
  position: relative;
}

.register__personal-data input:checked + .register__checkbox-box {
  background-color: var(--color-cyan);
  border-color: var(--color-cyan);
}

.register__personal-data input:checked + .register__checkbox-box::after {
  border-color: var(--color-white);
}

.register__checkbox-box::after {
  content: '';
  width: 12px;
  height: 24px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  position: absolute;
  top: -1px;
  left: 8px;
}