.sidebar__panel {
    border-right: 4px solid var(--color-cyan);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0.5rem;
    gap: 1rem;
    align-items: center;
}

.sidebar__link.active {
    background-color: var(--color-cyan);
    color: var(--color-white);
}

.sidebar__link {
    list-style: none;
    padding: 0.75rem 1.25rem;
    border: 2px solid var(--color-cyan);
    box-sizing: border-box;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 2rem;
    display: flex;             
    justify-content: center;   
    align-items: center;  
    text-decoration: none;
    color: var(--color-cyan);
}

.sidebar__link:hover {
    color: var(--color-red-orange);
    border: 2px solid var(--color-red-orange);
}

.sidebar__link.active:hover {
    background-color: var(--color-cyan);
    color: var(--color-white);
    border: 2px solid var(--color-cyan);
}

.sidebar__item {
    list-style: none;
}

.sidebar__icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    object-fit: contain;
    fill: var(--color-cyan);   
}