:root {
  --color-main-bg: #F5F2F0;
  --color-login-register-bg: #12181A;
  --color-text: #000;
  --color-cyan: #197278;
  --color-yellow: #E39109;
  --color-red-orange: #C44536;
  --color-field: #D7E2E6;
  --color-white: #FFF;
  --color-light-green: #21C47D;
  --color-yellow-orange: #FF773C;
  --color-deep-red: #5E1A43;
}