{% extends 'base/base_main_admin.html' %}
{% load static %}

{% block title %}Данные студента{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/student_details.css' %}">
{% endblock %}

{% block page-name %}Данные студента{% endblock %}

{% block content %}
    <div class="profile__container">
        <form class="profile__form" method="post">
            {% csrf_token %}
            <div class="profile__container-upper">
                <p class="profile__title">Личная информация</p>
                <div class="profile__item-container">
                    <label for="first_name" class="profile__label">Имя:</label> <br />
                    <input class="profile__field" type="text" id="first_name" name="first_name" value="{{ student.first_name }}"> <br />
                </div>
            </div>
            <div class="profile__rows">
                <div class="profile__row">
                    <div class="profile__item-container">
                        <label for="surname" class="profile__label">Фамилия:</label> <br />
                        <input class="profile__field" type="text" id="surname" name="surname" value="{{ student.surname }}"> <br />
                    </div>
                    <div class="profile__item-container">
                        <label for="patronymic" class="profile__label">Отчество:</label> <br />
                        <input class="profile__field" type="text" id="patronymic" name="patronymic" value="{{ student.patronymic }}"> <br />   
                    </div>             
                </div>
                <div class="profile__row">
                    <div class="profile__item-container">
                        <label for="passport" class="profile__label">Номер паспорта:</label> <br />
                        <input class="profile__field" type="text" id="passport" name="passport_number" value="{{ student.passport_number }}"> <br />
                    </div>
                    <div class="profile__item-container">
                        <label for="citizenship" class="profile__label">Гражданство:</label> <br />
                        <input class="profile__field" type="text" id="citizenship" name="citizenship" value="{{ student.citizenship }}"> <br />     
                    </div>
                </div>
                <div class="profile__row">
                    <div class="profile__item-container">
                        <label for="address" class="profile__label">Адрес проживания:</label> <br />
                        <input class="profile__field" type="text" id="address" name="address" value="{{ student.address }}"> <br />
                    </div>
                    <div class="profile__item-container">
                        <label for="email" class="profile__label">Email:</label> <br />
                        <input class="profile__field" type="email" id="email" name="email" value="{{ student.email }}"> <br />                    
                    </div>           
                </div>
                <div class="profile__row">
                    <div class="profile__item-container">
                        <label for="phone_number" class="profile__label">Номер телефона:</label> <br />
                        <input class="profile__field" type="text" id="phone_number" name="phone_number" value="{{ student.phone_number }}"> <br />                    
                    </div>
                    <div class="profile__item-container">
                        <label for="institute" class="profile__label">Институт:</label> <br />
                        <input class="profile__field" type="text" id="institute" name="institute" value="{{ student.institute }}"> <br />
                    </div>           
                </div>
                <div class="profile__row">
                    <div class="profile__item-container">
                        <label for="group" class="profile__label">Группа:</label> <br />
                        <input class="profile__field" type="text" id="group" name="group" value="{{ student.group }}"> <br />
                    </div>
                    <div class="profile__item-container">
                        <label for="course" class="profile__label">Курс:</label> <br />
                        <input class="profile__field" type="text" id="course" name="course" value="{{ student.course }}"> <br />
                    </div>
                </div>
            </div>

            <button type="button" class="student-details__edit-btn">Редактировать</button>

            <p class="profile__title">Страховка</p>
            <div class="student-details__insurance">
                <div class="student-details__insurance-row">
                    <label class="student-details__personal-data">
                        <input type="checkbox" id="insurance_paid" name="insurance_paid" {% if insurance and insurance.insurance_fee %}checked{% endif %}>
                        <div class="student-details__checkbox-box"></div>
                        <span class="profile__label">Оплачена</span>
                    </label>
                </div>
                <div class="student-details__insurance-field-group">
                    <label for="application_status" class="profile__label">Статус заявки:</label>
                    <input class="profile__field" type="text" id="application_status" name="application_status" value="{% if insurance %}{{ insurance.application_status }}{% endif %}">
                </div>
                <div class="student-details__insurance-field-group">
                    <label for="insurance_company" class="profile__label">Страховая компания:</label>
                    <input class="profile__field" type="text" id="insurance_company" name="insurance_company" value="{% if insurance %}{{ insurance.insurance_company }}{% endif %}">
                </div>
                <div class="student-details__insurance-field-group">
                    <label for="policy_number" class="profile__label">Номер полиса:</label>
                    <input class="profile__field" type="text" id="policy_number" name="policy_number" value="{% if insurance %}{{ insurance.policy_number }}{% endif %}">
                </div>
            </div>

            <button type="button" class="student-details__insurance-save-btn">Сохранить</button>

            <input type="submit" class="profile__submit-btn" value="Сохранить изменения">
        </form>
    </div>
{% endblock %}
